.hinfo h2 {
    color: #fff;
}
.hinfo p {
    color: #fff;
}


.main{
    background-image: url("https://picsum.photos/id/103/225/100");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}
.main-caption{
    align-items: center;
    text-justify: center;
    text-align: center;
    padding-top: 100px;
}

footer{
    padding: 10px;
    margin: 20px;
    
}